.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.ts
node_modules/**
pnpm-lock.yaml
testfolder/**
scripts/**
out/**
!out/extension.js
bin/win-x64/**
bin/linux-x64/*.pdb
